Epak.Live/.vs
Epak.Live/AUA.Mapping/bin
Epak.Live/AUA.ServiceInfrastructure/bin
Epak.Live/AUA.ServiceInfrastructure/obj
Epak.Live/Epak.Live.Common/bin
Epak.Live/Epak.Live.Common/obj
Epak.Live/Epak.Live.DataLayer/bin
Epak.Live/Epak.Live.DomainEntities/bin
Epak.Live/Epak.Live.InMemoryServices/bin
Epak.Live/Epak.Live.ManualMapping/bin
Epak.Live/Epak.Live.Models/bin
Epak.Live/Epak.Live.Services/bin
Epak.Live/Epak.Live.ValidationServices/bin
Epak.Live/Epak.Live.WebApi/bin
Epak.Live/Epak.Live.WebApi/obj
Epak.Live/AUA.Mapping/obj
Epak.Live/Epak.Live.DataLayer/obj
Epak.Live/Epak.Live.DomainEntities/obj
Epak.Live/Epak.Live.InMemoryServices/obj
Epak.Live/Epak.Live.ManualMapping/obj
Epak.Live/Epak.Live.Models/obj
Epak.Live/Epak.Live.Services/obj
Epak.Live/Epak.Live.ValidationServices/obj
